#actions-container {
	height: 184px;
	width: 100%;
}

#actions-container .actions {
	right: 0;
	left: 0;
	width: 690px;
	height: 120%;
	margin: 0 auto;
	margin-top: 0;
	border-radius: 5px 5px 5px 5px;
	-webkit-transition: margin-top 0.6s;
    transition: margin-top 0.6s;
}

#actions-container .actions.isHidden {
	margin-top: 200%;
}

.actions .description-container {
	height: 100%;
	width: 230px;
	float: left;
	padding: 10px;
}

.actions .name {
	font-size: 16px;
	height: 20px;
	text-align: center;
}

.actions .photo-container {
	height: 100px;
	width: 100px;
	margin: 25px 0 0 65px;

	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.actions .player-card-container {
	height: 100%;
	width: 260px;
	float: left;
	padding: 10px;
}

.actions .player-card-container .card{
	cursor: default;
	width: 80%;
	margin-top: 10px;
}

.actions .buttons-container {
	height: 100%;
	width: 198px;
	float: left;
	padding: 10px;
}

.buttons-container .action-button {
	width: 70px;
	height: 70px;
	margin: 10px 10px 0 0;
	font-size: 10px;
}

.action-button.disabled {
	color: grey;
}

.action-button.disabled:hover {
	cursor: default;
}

.action-button.selected {
	border-color: blue;
}

.action-button:hover {
	cursor: pointer;
}

.action-button.card-actioned {
	border-color: #f6ff00;
}