#game-area {
	position: absolute;
	margin: 5px 5px 5px 5px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	min-width: 1050px;
	min-height: 760px;
	padding: 5px;
}

#user-area {
	float: left;
	width: 70%;
	height: 100%;
	padding: 5px;
}

#card-area {
	float: left;
	width: 30%;
	height: 100%;
}

#info-container {
	height: 10%;
	width: 100%;
}

#pitch-container {
	height: 65%;
	width: 100%;
}

#actions-container {
	height: 25%;
	width: 100%;
}

