#game-area {
	position: absolute;
	margin: 5px 5px 5px 5px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	min-width: 1014px;
	min-height: 758px;
	padding: 5px;
}

#user-area {
	float: left;
	width: 70%;
	height: 100%;
	padding: 5px;
}

#card-area {
	float: left;
	width: 30%;
	height: 100%;
}

#info-container {
	height: 10%;
	width: 100%;
}

#pitch-container {
	height: 65%;
	width: 100%;
}

#pitch-container .pitch {
	position: relative;
	right: 0;
	left: 0;
	margin: auto auto; 
	height: 380px;
	width: 650px;
	top: 50%;
  	transform: translateY(-50%);
}

.pitch .player.mine {
	font-size: 12px;
	font-weight: bold;
	border: 1px solid;
	border-color: red;
	color: red;
}

.pitch .player.rival {
	font-size: 10px;
	border-color: blue;
	color: blue;
}

#actions-container {
	height: 25%;
	width: 100%;
}

