/* Space out content a bit */
body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.skeleton {
    border: 1px solid #9C9C9C;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.red {
    border-color: red !important;
    color: red;
}

.blue {
    border-color: blue !important;
    color: blue;
}

.green {
    border-color: green !important;
    color: green;
}

.yellow {
    border-color: yellow !important;
    color: yellow;
}


