#game-area {
	position: absolute;
	margin: 5px 5px 5px 5px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	min-width: 1014px;
	min-height: 758px;
	padding: 5px;

	overflow: hidden;
}

#user-area {
	float: left;
	width: 70%;
	height: 100%;
	padding: 5px;
}

#card-area {
	float: left;
	width: 30%;
	height: 100%;
}

#info-container {
	height: 10%;
	width: 100%;
}

#pitch-container {
	height: 65%;
	width: 100%;
}

#pitch-container .pitch {
	position: relative;
	right: 0;
	left: 0;
	margin: auto auto; 
	height: 380px;
	width: 650px;
	top: 50%;
  	transform: translateY(-50%);
}

.pitch .selected {
	border: 2px solid blue;
}

.player {
	cursor: pointer;
}

.player:hover {
	background-color: #B3B3B3;
}

.pitch .player .mine {
	font-size: 12px;
	font-weight: bold;
	border: 1px solid;
}

.pitch .player .rival {
	font-size: 10px;
}

#actions-container {
	height: 25%;
	width: 100%;
}

#actions-container .actions {
	position: relative;
	right: 0;
	left: 0;
	width: 690px;
	height: 120%;
	margin: 0 auto;
	top: 0;
	border-radius: 5px 5px 5px 5px;
	-webkit-transition:top 0.6s;
    transition:top 0.6s;
}

#actions-container .actions.isHidden {
	top: 200%;
}

.actions .description-container {
	position: relative;
	height: 100%;
	width: 230px;
	float: left;
	margin-top: 20px;
}

.actions .name {
	position: relative;
	font-size: 16px;
	height: 20px;
}

.actions .photo-container {
	position: relative;
	height: 100px;
	width: 100px;
	margin: 25px 0 0 65px;

	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.actions .player-stats-container {
	position: relative;
	height: 100%;
	width: 260px;
	float: left;
	margin-top: 60px;
}

.actions .buttons-container {
	position: relative;
	height: 100%;
	width: 198px;
	float: left;
	margin-top: 15px;
	padding: 10px;
}

.stat-container {
	position: relative;
	width: 130px;
	height: 50px;
	float: left;
	padding-top: 10px;

	font-size: 12px;
}

.stat-container .stat-name,
.stat-container .stat-value  {
	position: relative;
	float: left;
	width: 65px;
}

.buttons-container .action-button {
	position: relative; 
	width: 70px;
	height: 70px;
	margin: 10px 10px 0 0;
	font-size: 10px;
}

.action-button.selected {
	border-color: blue;
}

#info-container .info {
	position: relative;
	right: 0;
	left: 0;
	margin: 0 auto; 
	height: 100%;
	width: 690px;
}

.score-container {
	position: relative;
	width: 319px;
	height: 100%;
	float: left;
	padding: 10px;

	font-size: 18px;
}

.info .separator {
	position: relative;
	width: 50px;
	float: left;
	height: 100%;
	padding-top: 20px;
}

.score-container .team-name,
.score-container .team-score {
	position: relative;
	width: 140px;
	height: 100%;
	float: left;
	padding-top: 15px;
}
